body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(./Background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  background-color: rgb(18, 18, 39);
}

header {
  background-color: #525252;
  color: white;
  padding: 20px;
  border-radius: 0px 0px 40px 40px;
  padding-left: 30px;
  
}
h1 {
  padding-left: 93px;
  margin-top: 90px;
  margin-bottom: 189px;
  font-family: 'Quicksand', sans-serif;
  font-size: 125px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  
}

nav li {
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
}
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
#about {
  border-radius: 50px;
  background-color: #2e2e3a;
  padding: 25px;
  margin: -150px;
  text-align: justify;
  margin-top: 0px;
  width: auto;
  margin-right: -200px;
  margin-left: -200px;
}
section {
  color: #ffffff;
  font-size: 20px;
  width: 500px;
  margin-top: 261px;
  background-color: grey;
  border-radius: 10px 
}

section h2 {
  font-size: 30px;
  color: white;
  padding: 0;
  text-align: center;
}

section p {
  font-size: 20px;
  line-height: 1.5;
  color: white;
}
footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

iframe {
  border-radius: 30px;
  border: 8px solid #313131;
  margin: -31px;
  overflow: hidden;
  width: 853px;
  height: 450px;
  margin-top: 50px;
}
/* CSS code for the feedback section */
#feedback {
  padding: 20px;
  margin-top: 65px;
}

#feedback form {
  display: flex;
  flex-direction: column;
}

#feedback label {
  font-weight: bold;
  margin-bottom: 10px;
}

#feedback input, #feedback textarea {
  border: 1px solid #ccc;
  padding: 10px;
}

#feedback textarea {
  height: 200px;
}

#feedback button[type="submit"] {
  background-color: #363636;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

#feedback button[type="submit"]:hover {
  background-color: #363636;
}
