/*------------------------------------- Variables ------------------------------------ */
:root {
  /* Primary: Dark Grey */
  --primary-100: #FFF5F2;
  --primary-200: #FCF4F2;
  --primary-300: #E6E1E0;
  --primary-400: #ABA9A9;
  --primary-500: #383838;
  --primary-600: #342E2E;
  --primary-700: #2F2727;
  --primary-800: #2B2222;
  --primary-900: #261F1F;
  --border-radius: 40px;
}
/*------------------------------------- Body ------------------------------------------------------ */
body {
background-image: url(./Images/Background.jpeg);
background-repeat: no-repeat;
background-size: 100%;
background-color: var(--primary-500);
margin: 0;
}
/*------------------------------------- Scroll Bar Customization------------------------------------ */
*::-webkit-scrollbar {
width: 10px;
height: 5px;
}
*::-webkit-scrollbar-track {
background-color: var(--primary-700);
}
*::-webkit-scrollbar-thumb {
border-radius: 100px;
background:var(--primary-100);
}
/*------------------------------------- Menu Bar -------------------------------------------------- */
a {
text-decoration: none;
color:var(--primary-500);
}
.menuBar {
height: 3.7rem;
background:var(--primary-400);
}
.menuBar li {
text-decoration: none;
list-style: none;
font-size: 1.5rem;
font-family: "Work Sans";
font-style: normal;
font-weight: 300;
margin: 15px;
}
#menuList {
display: flex;
margin-top: 0;
margin-bottom: 0;
}
/*-----------------------------Fair Price Heading ------------------------------------------------------ */
h1 {
font-family: "Roboto Condensed";
font-weight: 500;
font-size:8rem;
line-height: 8rem;
color: var(--primary-100);
padding: 50px;
backdrop-filter: blur(40px);
width: 500px;
border-radius: 40px;
margin-left: 50px;
margin-top: 60px;
}
/*------------------------------------- About Us ------------------------------------------------------ */
#about {
flex-direction: column;
align-items: center;
justify-content: center;
}

#about h2 {
font-family: "Roboto Condensed";
font-size: 6.6rem;
font-weight: 500;
color:var(--primary-100);
text-align: center;
margin: 0;
}

.aboutUs {
background: var(--primary-500);
border: 5px solid var(--primary-400);
border-radius: 40px;
padding: 50px;
display: flex;
margin: 0 200px;
}

.aboutUs p {
font-family: "Work Sans";
font-weight: 300;
font-size: 1.563rem;
color: var(--primary-100);
text-align: justify;
margin: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100%;
}



/*------------------------------------- Product ------------------------------------------------------ */
#product h3 {
height: 96px;
font-family: "Roboto Condensed";
font-weight: 500;
font-size: 6.6rem;
text-align: center;
margin: auto;
color: var(--primary-100);
}
.card-container {
display: flex;
overflow-x: scroll;
}

.card {
flex-shrink: 0;
margin-right: 40px;
width: 300px;
border: 3px solid var(--primary-400);
border-radius: 40px 40px 40px 40px;
background: var(--primary-500);
}

.card img {
width: 100%;
border-radius: 40px 40px 0 0;
}

.card-text {
padding-left: 20px;
text-align: left;
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 2rem;
line-height: 47px;
color: var(--primary-100);
}
/*------------------------------------- Contact ------------------------------------------------------ */
h3 {
margin: 0;
font-family: "Roboto Condensed";
font-weight: 500;
font-size: 6.6rem;
text-align: center;
color: var(--primary-100);
line-height: 1;
}
.contactSection {
display: flex;
}
.googleMaps {
flex: 1;
}
.contactDetails {
margin: 70px;
margin-bottom: 0;
flex: 2;
font-family: "Work Sans";
font-style: italic;
font-weight: 300;
font-size:2rem;
color: var(--primary-100);
}
iframe {
width: 80vh;
height: 80vh;
border-radius: 40px;
margin-left: 60px;
border: 9px solid var(--primary-400);
}
h4 {
font-family: "Roboto Condensed";
font-weight: 500;
font-size: 6.6rem;
color: var(--primary-200);
margin: 0;
text-align: center;
}
/*------------------------------------- Feedback ------------------------------------------------------ */
.thanksGiving p {
position: relative;
font-family: "Roboto Condensed";
font-style: normal;
font-weight: 400;
font-size: 2.441rem;
line-height: 47px;
color: var(--primary-100);
margin: 0;
}
.thanksGiving {
flex: 1;
margin: 50px;
font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 2.441rem;
margin-top: 0;
}
/*------------------------------------- Form Input ------------------------------------------------------ */
.formInput {
flex: 2;
max-width: 700px;
margin-right: 50px;
font-family: "Roboto Condensed";
font-size: 1.25rem;
}

label {
display: block;
margin-bottom: 10px;
font-weight:lighter;
color: var(--primary-100);
font-family: "Roboto Condensed";
}

input[type="text"],
input[type="email"],
textarea {
padding: 10px;
width: 100%;
border: 1px solid var(--primary-400);
box-sizing: border-box;
margin-bottom: 20px;
font-size: 1rem;
}

textarea {
height: 150px;
resize: none;
}

input[type="submit"] {
background-color: var(--primary-500);
color:var(--primary-100);
border: 1px solid var(--primary-100);
padding: 10px 20px;
cursor: pointer;
font-size: 1rem;
font-family: "Roboto Condensed";
border-radius: 40px;
}

input[type="submit"]:hover {
background-color: var(--primary-400);
color: var(--primary-100);
}
::placeholder {
font-family: "Roboto Condensed";
font-size: 1.25rem;
font-style: italic;
}
/*------------------------------------- Footer ------------------------------------------------------ */
footer {
background: var(--primary-400);
font-family: "Work Sans";
font-size: 1.25rem;
color: var(--primary-900);
text-align: center;
line-height: 40px;
}
footer p {
margin: 0;
}

/*------------------------------------- Media Queries ------------------------------------------------------ */
@media screen and (max-width: 1024px) {
.aboutUs {
margin: 0 100px;
}
iframe {
width: 60vh;
height: 60vh;
margin-left: 0;
}
.contactDetails{
position: relative;
left: 0;
margin-top: 0;
margin: 0;
}
.contactDetails p {
margin-left: 30px;
font-size: 90%;
}
}
#feedback {
display: block;
}
.formInput {
margin-left: 30px;
margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
.aboutUs {
margin: 0 20px;
}
.contactSection{
display: block;
}
iframe {
margin-left: 10%;
}
.formInput {
max-width: 100%;
}
}
@media screen and (max-width: 480px) {
.menuBar{
  height: 3.5rem;
}
#menuList{
padding-left: 10px;
}
.menuBar li {
  margin-left: 1px;
  font-size: 1.3rem;
}
body{
  background-size:200% ;
}
h1{
  font-size: 5rem;
  line-height: 5rem;
  padding: 30px;
  width: 300px;
}
#about h2{
  font-size: 3.6rem;
}
.aboutUs{
  padding: 20px;
}
.aboutUs p {
  font-size:1.1rem ;
}
#product h3 {
  font-size: 3.6rem;
  height: 60px;
}
.card-container{
  margin: 0;
}
.card{
  width: 200px;
  margin-right: 10px;
  height:350px;
}
.card-text{
  font-size: 1rem;
  line-height: 20px;
}
h3{
  font-size: 3.6rem;
}
iframe {
  width: -webkit-fill-available;
  margin: 0;
  border: 0;
  border-radius: 0;
}
.contactDetails p{
  font-size: 1.3rem;
  margin: 10px 100px 10px 100px;
}
h4 {
  font-size: 3.6rem;
}
.thanksGiving {
  margin:11px;
}
.thanksGiving p{
  font-size:1.5rem ;
  line-height: 25px;
}
footer p {
  font-size: 1rem;
}
}
@media screen and (max-width: 320px) {

}
